.about {
  .container {
    padding-top: 75px;
    padding-bottom: 210px;
  }
}

.about__wrapper {
  display: flex;
  position: relative;
}

.about__picture {
  margin-left: auto;
}

.about__description {
  max-width: 37%;
}

//TABLET
@media (max-width: $vp-1199) {
  .about__wrapper {
    display: block;
  }

  .about__description {
    max-width: 80%;
    margin: 0 auto;
  }

  .about__picture {
    display: flex;
    justify-content: center;
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .about {
    .container {
      padding-left: 0;
      padding-right: 0;
      max-width: none;
      padding-top: 65px;
      padding-bottom: 0;
    }
  }

  .about__description {
    max-width: 100%;
    padding: 0 0 0 10px;
    text-align: left;
  }
}
//MOBILE
