.contact {
  width: 50%;
  margin: 0 auto;
  padding-left: 120px;
  padding-top: 56px;
  padding-bottom: 70px;
  border-top: 1px $color-light-slate-grey;
}

.contact__wrapper-list {
  display: flex;
}

.contact__links {
  padding-left: 60px;
  position: relative;

  &::before {
    content: "";
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: $color-light-slate-grey;
  }
}

.contact__list {
  width: 50%;
  max-width: 500px;
  flex-grow: 1;
  margin: 0 auto;
  margin-top: 22px;
}


.contact__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__text-bold {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: $color-sapphire;
}

.contact__text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 5px;
}

@media (max-width: $vp-1199) {
  .contact {
    width: 100%;
    margin: 0;
    padding: 70px 0;
    border: none;
  }

  .contact__text-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .contact__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }

  .contact__list {
    margin-top: 25px;
  }

  .contact__links {

    &::before {
      content: "";
      left: 10px;
    }
  }

  .contact__wrapper {
    max-width: 472px;
    margin: 0 auto;
  }
}

@media (max-width: $vp-767) {

  .contact {
    padding: 70px 20px;
  }

  .contact__wrapper-list {
    display: block;
    width: 100%;
  }

  .contact__list {
    width: 100%;
  }

  .contact__links {
    padding: 0;

    &::before {
      display: none;
    }
  }
}
