.description {
  padding-top: 15px;
  padding-left: 60px;
}

.description__bold-text {
  padding-bottom: 40px;

  &::after {
    content: "Просторный зал площадью 900 кв/м";
    display: block;
    margin-top: 7px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
}

.descriprion__text {
  margin-bottom: 10px;
}

//TABLET
@media (max-width:$vp-1199) {
  .description {
    text-align: center;
  }

  .descriprion__text-additional {
    display: none;
  }
}
//TABLET
