.feature__wrapper {
  display: flex;
  align-items: flex-end;
}

.feature__clarification {
  margin-right: 37px;
  position: relative;
  padding-left: 5px;
}

.feature__bold {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 71px;
  font-weight: 700;
  line-height: 107px;
  background: linear-gradient(to top, $color-cobalt 1%, $color-crimson 100%);
  background-clip: text;
  -webkit-background-clip: text;/* stylelint-disable-line */
  -webkit-text-fill-color: transparent;/* stylelint-disable-line */
  -moz-background-clip: text;/* stylelint-disable-line */
  -moz-text-fill-color: transparent;/* stylelint-disable-line */
}

.feature__apostrofe {
  position: absolute;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: $color-persian-blue;
  bottom: 0;
}

.feature__bold-little {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: $color-sapphire;
}

.feature__text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: $color-sapphire;
}

//TABLET
@media (max-width: $vp-1199) {
  .feature {
    max-width: 330px;
  }

  .feature__description {
    max-width: 230px;
  }

  .feature__bold {
    font-size: 58px;
    font-weight: 700;
    line-height: 87px;
  }

  .feature__apostrofe {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .feature__bold-little {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .feature__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  .features__first-line {
    padding: 0;
    margin: 0;

    &::after {
      display: none;
    }
  }
}
//TABLET
//MOBILE
@media (max-width: $vp-767) {
  .feature__wrapper {
    display: block;
    text-align: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .feature__clarification {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .feature__description {
    margin: 0 auto;
  }

  .feature__text {
    padding-top: 5px;
  }

  .feature__apostrofe {
    left: 50%;
    transform: translate(-50%);
  }
}
//MOBILE
