.free-offer {
  width: 50%;
  padding: 56px 0 70px 0;
  position: relative;
}

.free-offer__title {
  color: $color-default-white;
  max-width: 410px;
}

.free-offer__form {
  display: flex;
  flex-wrap: wrap;
  max-width: 410px;
  gap: 0 30px;
}

.free-offer__fieldset {
  max-width: 190px;
  margin: 0;
  border: 0;
  padding: 0;
  flex-grow: 1;
  margin-top: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.free-offer__input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  outline: none;

  &::placeholder {
    color: $color-default-white;
  }

  &:hover {
    border-color: $color-default-white;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-default-white;
    border-bottom: none;
  }

  &:invalid {
    border-color: $color-torch-red;

  }
}

.free-offer__button-wrapper {
  width: 410px;
  margin-top: 30px;
}

.free-offer__button {
  width: 100%;
  border-width: 3px;
}

//TABLET
@media (max-width: $vp-1199) {

  .free-offer__form {
    justify-content: space-between;
  }

  .free-offer {
    width: 100%;
    background-color: $color-sapphire;

  }

  .free-offer__fieldset {
    max-width: 206px;
    margin-top: 40px;
  }

  .free-offer__wrapper {
    max-width: 472px;
    margin: 0 auto;
  }

  .free-offer__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 472px;
    gap: 0 30px;
  }

  .free-offer__button-wrapper {
    width: 472px;
    margin-top: 30px;
  }
}

@media (max-width: $vp-767) {
  .free-offer__wrapper {
    padding: 0 20px;
  }

  .free-offer__form {
    display: block;
  }

  .free-offer__fieldset {
    max-width: 100%;
  }

  .free-offer__button-wrapper {
    width: 100%;
  }

  .free-offer__button {
    width: 100%;
  }
}


