.info__wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

//TABLET
@media (max-width: $vp-1199) {
  .info__wrapper {
    display: block;
    margin: 0;

    &::before {
      display: none;
    }
  }
}
//TABLET
