.link-card {
  display: block;
  text-align: center;
}

.link-card__bold {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  color: $color-sapphire;
}

.link-card__time {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-black-chambray;
  padding-top: 24px;

}

.link-card__price {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  color: $color-egyptian-blue;
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
  z-index: 5;

}

.link-symbol {
  color: $color-sapphire;
}

.link-card__duplicate {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-30%);
  z-index: -1;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  color: $color-whisper;
}

//TABLET
@media (max-width: $vp-1199) {
  .link-card__bold {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.03em;
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .link-card__bold {
    font-size: 32px;
    line-height: 38px;
  }
}
//MOBILE
