.main-promotion__wrapper {
  display: flex;
  min-height: 463px;
}

.main-promotion__text-wrapper {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 280px;
  background-color: $color-torch-red;
  padding: 30px 0;
  padding-left: 45px;
  color: $color-default-white;
}

.main-promotion__bold-little {
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
}

.main-promotion__price {
  font-size: 70px;
  font-weight: 700;
  line-height: 75px;
  }

  .main-promotion__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 35px;
    padding-bottom: 165px;
  }

.main-promotion__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
}

//TABLET
@media (max-width: $vp-1199) {

}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .main-promotion__wrapper {
    display: block;
    min-height: none;
  }

  .main-promotion__text-wrapper {
    width: 290px;
    margin-right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
  }

  .main-promotion__description {
    padding-bottom: 40px;
  }
}
//MODILE
