.main-feature {
  width: 240px;
  height: 100%;
  min-height: 307px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $color-resolution-blue;
  text-align: center;
}

.main-feature__wrapper {
  padding-top: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $color-default-white;
}

.main-feature__bold-text {
  font-size: 74px;
  font-weight: 700;
  line-height: 111px;
  color: $color-default-white;
}

.main-feature__apostrofe {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: $color-default-white;
}

.main-feature__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $color-default-white;
  padding: 0 25px;
  padding-top: 27px;
}

//TABLET
@media (max-width: $vp-1199) {
  .main-feature {
    width: 442px;
    min-height: 239px;
    position: static;
    transform: translate(0, 0);
    margin: 50px auto;
    margin-bottom: 25px;
  }

  .main-feature__wrapper {
    padding-bottom: 45px;
  }

  .main-feature__apostrofe {
    font-size: 22px;
  }

  .main-feature__bold-text {
    padding-top: 10px;
    line-height: 70px;
  }

  .main-feature__text {
    max-width: 222px;
    margin: 0 auto;
    padding-top: 7px;
  }
}
//TABLET
//MOBILE
@media (max-width: $vp-767) {
  .main-feature {
    width: 320px;
    margin-top: 30px;
  }
}
