.promotion {
  width: 560px;
  border: 7px solid $color-smalt;
  border-image: linear-gradient(to top, $color-smalt, $color-crimson);
  border-image-slice: 1;
  padding-top: 27px;
  padding-left: 27px;
  padding-bottom: 25px;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.promotion h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 10px;
  color: $color-sapphire;
  margin: 0;
}

.promotion p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-sapphire;
  padding-bottom: 65px;
  padding-right: 75px;
}

.promotion__link {
  padding-bottom: 5px;
  border-bottom: 1px solid $color-sapphire;
  color: $color-sapphire;
}

//TABLET
@media (max-width: $vp-1199) {
  .promotion {
    width: 324px;
    margin-bottom: 0;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .promotion {
    text-align: center;
    width: 290px;
    margin-bottom: 20px;
    margin-right: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .promotion p {
    padding-right: 0;
  }
}
//MODILE
