.promotions {
  .container {
    padding-top: 140px;
  }
}

.promotions h2 {
  width: 100%;
  text-align: center;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0;
  margin-bottom: 35px;
}

.promotions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

//TABLET
@media (max-width: $vp-1199) {
  .promotions {
    .container {
      padding-top: 50px;
    }
  }

  .promotions h2 {
      font-size: 42px;
      font-weight: 600;
      line-height: 50px;
  }

  .promotions__other {
    margin-left: 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .promotions__other {
    padding-top: 25px;
  }

  .promotions h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}
}
//MODILE
