.reviews-slider {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: 45px;
}

.reviews-slider__item {
  display: grid;
  max-width: 560px;
  grid-template-columns: 86px 1fr;
  align-items: start;
  background-color: $color-resolution-blue;
  min-width: 0;
  padding: 60px;
  margin: 0 auto;
  text-align: left;
}

.reviews-slider__avatar {
  border-radius: 100%;
  margin-right: 10px;
}

.reviews-slider h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $color-default-white;
  margin: 0;
}

.reviews-slider__avatar {
  img {
    width: 100%;
    border-radius: 100%;
    object-fit: cover;

  }
}

.reviews-slider p {
  grid-column-start: 2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  margin-top: -35px;
}

@media (max-width: $vp-767) {
  .reviews-slider {
    width: 100%;
    max-width: 650px;
  }

  .reviews-slider__avatar {
    width: 68px;
  }

  .reviews-slider__wrapper {
  }

  .reviews-slider__content {
    padding: 0;
  }

  .reviews-slider__item {
    justify-items: center;
    align-items: center;
    min-width: 226px;
    width: calc(100% - 100px);
    padding: 40px 30px;
    grid-template-columns: minmax(70px,1fr) 1fr
  }

  .reviews-slider h3 {
    max-width: 62px;
    margin-left: 15px;
  }

  .reviews-slider p {
    padding-top: 0;
    margin-top: 15px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
  }
}
