.reviews-slider {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: 45px;
}

.reviews__title {
  text-align: center;
}

.reviews-slider__item {
  display: grid;
  max-width: 560px;
  grid-template-rows: 40px 90px;
  grid-template-columns: 25% 75%;
  align-self: center;
  background-color: $color-resolution-blue;
  min-width: 0;
  padding: 60px;
  margin: 0 auto;
}

.reviews-slider__picture {
  border-radius: 100%;
}

.reviews-slider__bold-text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $color-default-white;
}

.reviews-slider__text {
  grid-column-start: 2;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
}

@media (max-width: $vp-767) {
  .reviews-slider {
    width: 300px;
  }

  .reviews-slider__avatar {
    width: 68px;
  }

  .reviews-slider__wrapper {
    grid-template-columns: 68px auto;
    grid-template-rows: 40px auto;
  }

  .reviews-slider__content {
    padding: 0;
  }

  .reviews-slider__item {
    max-width: none;
    padding: 40px 25px;
    width: 226px;
    grid-template-rows: 68px 100%;
    grid-template-columns: 80px 50%;
  }

  .reviews-slider__bold-text {
    max-width: 62px;
    margin-left: 15px;
  }

  .reviews-slider__text {
    padding-top: 15px;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
  }
}
