.slider {
  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      width: 16px;
      height: 32px;
      color: $color-dark-gray;
      font-size: 32px;
    }
  }
}

.slider__control {
  position: absolute;
  top: 50%;
}

.slider__button {
  display: block;
  border: none;
  background-color: inherit;
  position:  relative;
  width: 56px;
  height: 56px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  outline: none;

  &:hover,
  &:focus {
    border: 2px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
  }

}

.slider__control--left {
  left: 0;
}

.slider__control--right {
  right: 0;
}

@media (max-width:$vp-1199) {
  .slider__control--left {
    left: 0;
  }

  .slider__control--right {
    right: 0;
  }
}

@media (max-width:$vp-767) {
  .slider {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        width: 10px;
        height: 19px;
        color: $color-dark-gray;
        font-size: 16px;
      }
    }
  }

  .slider__button {
    width: 32px;
    height: 32px;
  }
}
