.slider__control {
  position: absolute;
  top: 50%;
}

.slider__button {
  display: block;
  border: none;
  background-color: inherit;
  position:  relative;
  width: 56px;
  height: 56px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    border: 2px solid $color-sapphire;
  }

  &:active {
    background-color: $color-sapphire;
  }

}

.slider__control--left {
  left: 0;
}

.slider__control--right {
  right: 0;
}

.slider__button--left {
  background-image: url("../img/svg/arrow-left.svg");
}

.slider__button--right {
  background-image: url("../img/svg/arrow-right.svg");
}

@media (max-width:$vp-1199) {
  .slider__control--left {
    left: 0;
  }

  .slider__control--right {
    right: 0;
  }
}
