.social__item {
  margin-right: 11px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: $color-default-white;
  outline: none;

  &:hover {
    background-color: $color-egyptian-blue;

    .social__svg {
      fill: $color-default-white;
    }
  }

  &:focus {
    background-color: $color-sapphire;

    .social__svg {
      fill: $color-default-white;
    }
  }
}
