.time-data__container {
  display: flex;
}

.time-data__wrapper {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.time-data__text {
  padding-bottom: 5px;
}

.time-data__bold-text {
  display: flex;
  align-items: center;
  max-width: 88px;
  height: 28px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  padding-top: 10px;
  border-top: 1px solid $color-default-white;
}

.time-data__apostrofe {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 7px;
}

.time-data__bold-text--data {
  max-width: 64px;
}

//TABLET
@media (max-width: $vp-1199) {
  .time-data__bold-text {
    font-size: 24px;
    line-height: 36px;
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .time-data__apostrofe {
    font-size: 10px;
    line-height: 15px;
  }
}
//MODILE
