.trainers__wrapper {
  padding-bottom: 105px;
}

.trainers__title {
  max-width: 1160px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.trainers__slider {
  margin: 0 auto;
  position: relative;
}

.trainers__list {
  padding: 0;
  margin: 0 auto;

  .swiper-slide {
    max-width: 100%;
    }
  }

.trainers__item {
  position: relative;
  padding-top: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.trainers__link {
  display: block;
  width: 260px;
  min-height: 295px;
  outline: none;

  &.mask {
    &::before {
      visibility: hidden;
    }
  }

  &:hover,
  &:focus {
    position: relative;
    z-index: 16;

    .trainers__characteristic {
      display: block;
      position: relative;
      z-index: 15;
    }

    .trainers__text-bold--no-hover {
      display: none;
    }

    &.mask {
      &::before {
        visibility: visible;
      }
    }

  }
}

.trainers__picture {
  position: absolute;
  z-index: -1;
}

.trainers__text-bold {
  text-align: center;
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.trainers__text-bold-inner {
  padding-top: 251px;

}

.trainers__characteristic {
  display: none;
}

.trainers__left {
  left: -100px;
}

@media (max-width:$vp-1199) {
  .trainers__wrapper {
    padding-bottom: 100px;
  }

  .trainers__slider {
    max-width: 800px;
    padding: 0;
  }

  .trainers__title {
    text-align: center;
    padding-bottom: 48px;
  }

  .trainers__list {
    max-width: 580px;
    padding: 0;
  }

  .trainers__item {
    padding-top: 0;
  }

}

@media (max-width:$vp-767) {
  .trainers__wrapper {
    padding: 0;
    padding-bottom: 70px;
  }

  .trainers__wrapper {
    max-width: 226px;
    margin: 0 auto;
  }

  .trainers__item {
    margin-right: 0;
  }

  .trainers__link {
    max-width: 226px;
  }

  .trainers__text-bold-inner {
    padding-top: 200px;
    text-align: center;
  }
}


