.video {
  width: 364px;
  height: 228px;
  position: absolute;
  top: 75%;
  left: 55%;
  transform: translate(-55%, -75%);
  background-image: url("../img/jpeg/video-preview.jpg");
  background-size: cover;
}

.video__wrapper {
  position: relative;
  width: 364px;
  height: 228px;
}

.video__button {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: none;
  cursor: pointer;
  background: linear-gradient(-290deg, $color-dark-cerulean 10%, $color-venetian-red 100%);
  border-radius: 100%;

  &:hover,
  &:focus-visible,
  &:active {
    background: none;
    background-color: $color-default-white;

    .video__svg {
      fill: $color-sapphire;
    }
  }
}

.video__svg {
  fill: $color-default-white;
}

.video__media {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 25;
}

.video__button--hidden {
  display: none;
}

@media (max-width: $vp-1199) {
  .video {
    width: 266px;
    height: 167px;
    top: 87%;
  }

  .video__wrapper {
    position: relative;
    width: 266px;
    height: 167px;
  }
}

@media (max-width: $vp-767) {
  .video {
    width: 100%;
    margin: 0 auto;
    position: static;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    margin-top: 40px;
  }

  .video__wrapper {
    width: 100%;
  }
}
