.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width:$vp-1199) {
  .container{
    max-width: 678px;
    padding: 100px 0;
    margin: 0 auto;

  }
}

@media (max-width:$vp-767) {
  .container{
    max-width: 290px;
    padding: 70px 0;
    margin: 0 auto;
  }
}
