.container{
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;

}

@media (max-width:$vp-1199) {
  .container{
    padding: 100px 45px;
  }
}

@media (max-width:$vp-767) {
  .container{
    padding: 70px 15px;
    margin: 0 auto;
  }
}
