@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Alumni Sans"),
    url("../fonts/AlumniSans/AlumniSans-SemiBold.woff2") format("woff2"),;
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alumni Sans"),
    url("../fonts/AlumniSans/AlumniSans-Bold.woff2") format("woff2"),;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Alumni Sans"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Light.woff") format("woff"),;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Alumni Sans"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"),;
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Alumni Sans"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"),;
}
