.page__body {
  font-family: "Alumni Sans","Arial", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text-logo {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  background-color: inherit;
  color: $color-default-white;
  padding: 24px 0;
  border: 4px solid $color-default-white;
  cursor: pointer;
  text-transform: uppercase;
}

.title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0;
}

.bold-text {
  display: block;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.03em;
}

.text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $color-sapphire;
}

.mask {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-dark-cerulean;
    opacity: 0.5;
    z-index: 1;
  }
}

.link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  }

  .button-dark-bg {
    outline: none;

    &:hover,
    &:focus-visible {
      background-color: $color-default-white;
      color: $color-egyptian-blue;

    }

    &:active {
      color: $color-default-black;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .button-blue-bg {
    outline: none;

    &:hover,
    &:focus-visible {
      background: linear-gradient(to right, $color-torch-red, $color-cobalt);
      color: $color-default-white;
      border-color: inherit;
    }

    &:active {
      background: linear-gradient(to right, $color-torch-red, $color-cobalt);
      color: rgba(255, 255, 255, 0.5);
      border-color: inherit;
    }
  }

  .link-dark-bg,
  .link-white-bg {
    outline: none;
    padding: 5px;

    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      border: 2px solid $color-default-white;
    }

    &:active {
      box-shadow: none;
      opacity: 1;
    }
  }

  .link-white-bg {
    &:focus-visible {
      border-color: $color-sapphire;
    }
  }

  .is-disabled {
    opacity: 0.5;
  }

//TABLET
@media (max-width: $vp-1199) {
  .text-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  .button {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    padding: 16px 0;
  }

  .title {
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
  }
}
//TABLET

//MOBILE
@media (max-width: $vp-767) {
  .text-logo {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
  }
}
//MODILE
