// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "vendor/colors";
@import "vendor/swiper";

// Swiper 7.4.1
// @import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/header";
@import "blocks/page";
@import "blocks/footer";
@import "blocks/main";
@import "blocks/hero";
@import "blocks/social";
@import "blocks/description";
@import "blocks/about";
@import "blocks/video";
@import "blocks/promo";
@import "blocks/offer";
@import "blocks/tabs";
@import "blocks/data-tabs";
@import "blocks/link-card";
@import "blocks/time-data";
@import "blocks/trainers";
@import "blocks/characteristic";
@import "blocks/slider";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/promotions";
@import "blocks/main-featre";
@import "blocks/main-promotion";
@import "blocks/promotion";
@import "blocks/faq";
@import "blocks/reviews";
@import "blocks/reviews-slider";
@import "blocks/info";
@import "blocks/free-offer";
@import "blocks/contact";
@import "blocks/data-accordion";

// ---------------------------------

// ❗❗❗ запрещено использовать изображения в css, касается как jpg \ png, так и svg

// ❗ обязательно используйте mixin hover-focus для отключения ховеров на тач устройствах
/* @mixin hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }

    &.focus-visible:focus {
      @content;
    }
  }
*/
/*  @include hover-focus {
      opacity: 0.8;
    }
*/
// но не используем для текстовых полей ( input, textarea )
// так же в сборке есть отдельный миксин для hover
/*@mixin hover {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        @content;
      }
    }
  }
*/
// для focus
/*@mixin focus {
    &.focus-visible:focus {
      @content;
    }
  }
*/
// и для active
/*@mixin active {
    &.focus-visible:active {
      @content;
    }
  }
*/
// адаптив пишем внутри каждого класса (смотрим container.scss)

// для фикса проблем с vh на iOS в сборке подключен скрипт
// используя vh на проекте задавайте их также как в примере в utils.scss

// для любых transition обязательно указывайте transition-property
// transition: $trans-default ❌ ---> transition: color $trans-default ✅
